@import 'tailwindcss';
@plugin "@tailwindcss/typography";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

html {
	/* Using a dark gray instead of pure black */
	background-color: #18181b; /* Tailwind zinc-900 */
}

:root {
	--inset-shadow-neon-green: inset 0px 0px 0.5em 0px oklch(0.871 0.15 154.449);
	--shadow-neon-green: 0px 0px 0.5em 0px oklch(0.871 0.15 154.449);
	--animate-border: border 4s linear infinite;
}

@property --border-angle {
	inherits: false;
	initial-value: 0deg;
	syntax: '<angle>';
}

@keyframes border {
	to {
		--border-angle: 360deg;
	}
}

.animate-border {
	animation: var(--animate-border);
}
