<script>
	import ProjectLinkButton from '$lib/components/ProjectLinkButton.svelte';
	import Img from '@zerodevx/svelte-img';

	const { data } = $props();

	const projectUrl = "https://github.com/nickbrett1/ftn";
</script>

<style>
	.mermaid-container {
		display: flex;
		justify-content: center;
	}
</style>

<h1 class="!mb-0 no-underline">SpecKit Driven Development</h1>
<p class="text-xl text-gray-300 !mt-2 !mb-6">What I learned using SpecKit to build a project generation wizard</p>
November 2025
<ProjectLinkButton href={projectUrl} />

## Introduction
