version: 2.1
orbs:
  node: circleci/node@5.0.2
{{orbs}}
jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
{{preBuildSteps}}
      - run:
          name: Build
          command: npm run build
{{lighthouseJobDefinition}}
{{deployJobDefinition}}
workflows:
  build-and-test:
    jobs:
      - build
{{lighthouseWorkflowJob}}
{{deployWorkflowJob}}
{{additionalWorkflowJobs}}
