version: 2.1
orbs:
{{ciOrbs}}{{orbs}}{{commands}}jobs:
  build:
{{buildExecutor}}{{jobEnvironment}}
    steps:
      - checkout
      - restore_cache:
{{ciCacheRestore}}
{{ciNpmActivateStep}}
      - run:
          name: Install Packages
          command: |
{{ciInstallCommand}}
{{ciDriftCheckStep}}
      - save_cache:
{{ciCacheSave}}
{{preBuildSteps}}
{{ciBuildStep}}
{{testSteps}}
{{lighthouseJobDefinition}}
{{deployJobDefinition}}
workflows:
  build-and-test:
    jobs:
{{buildWorkflowJob}}
{{lighthouseWorkflowJob}}
{{deployWorkflowJob}}
{{additionalWorkflowJobs}}
