{
  "name": "Java",
  "image": "mcr.microsoft.com/devcontainers/java:0-{{capabilityConfig.javaVersion}}",
  "features": {
    "ghcr.io/devcontainers/features/common-utils:2": {
      "installZsh": true,
      "installOhMyZsh": true,
      "upgradePackages": true,
      "username": "node"
    },
    "ghcr.io/devcontainers/features/java:1": {
      "version": "{{capabilityConfig.javaVersion}}"
    }
  },
  "postCreateCommand": "./post-create-setup.sh"
}
