ARG VARIANT="{{javaVersion}}"
FROM mcr.microsoft.com/devcontainers/java:0-{{javaVersion}}
RUN apt-get update && export DEBIAN_FRONTEND=noninteractive \
    && apt-get -y install --no-install-recommends git zsh
