{
  "mcpServers": {
    "svelte": {
      "httpUrl": "https://mcp.svelte.dev/mcp"
    },
    "chrome-devtools": {
      "command": "npx",
      "args": [
        "-y",
        "chrome-devtools-mcp"
      ]
    }{{sonarQubeMcpConfig}}{{circleCiMcpConfig}}
  }
}
