{
	"compilerOptions": {
		"moduleResolution": "bundler",
		"target": "es2022",
		"module": "es2022",
		"verbatimModuleSyntax": true,
		"isolatedModules": true,
		"resolveJsonModule": true,
		"checkJs": true
	},
	"include": ["src/**/*.d.ts", "src/**/*.js", "src/**/*.svelte"]
}
