{
  "name": "{{projectName}}",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "type": "{{typeField}}",
  "scripts": {
    {{scriptsBlock}}
  },
{{hooksBlock}}  "keywords": [],
  "author": "",
  "license": "ISC",
{{npmPins}}  "devDependencies": {
    {{devDependencies}}
  }{{overrides}}
}
