{
	"name": "{{projectName}}",
	"main": "{{mainEntryPoint}}",
	"compatibility_date": "{{compatibilityDate}}",
	"compatibility_flags": [
		"nodejs_compat_v2"
	],
	"assets": {
		"binding": "ASSETS",
		"directory": ".svelte-kit/cloudflare"
	},
	"observability": {
		"logs": {
			"enabled": true,
			"head_sampling_rate": 1,
			"invocation_logs": true,
			"persist": true
		}
	}
}
