{
	"name": "{{projectName}}",
	"main": "{{mainEntryPoint}}",
	"compatibility_date": "{{compatibilityDate}}",
	"compatibility_flags": [
		"nodejs_compat"
	],
	"observability": {
		"logs": {
			"enabled": true,
			"head_sampling_rate": 1,
			"invocation_logs": true,
			"persist": true
		}
	}
	// "account_id": "$CLOUDFLARE_ACCOUNT_ID"
}
